html {
    scroll-behavior:  smooth;
    transition: 0.4s ease-in-out;
    color: #f5f5f5;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: auto;
    min-width: 100%;
    opacity: 0.15;
  }

body {

    line-height: 1.6em;
    margin: 0;
    background-color: dimgrey;
    font-family: 'Poppins', sans-serif;
}


.body-parallax {
    /* The image used */
    background-image: url(../images/grey-min.jpg);
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header {
    height: 100vh;
    margin: 0;
    background-repeat: cover;
    overflow: hidden;
    padding: 4em 0 0 0;
    /* background-attachment:  fixed url(../header-bg.mp4); */
    background-image: url(../images/rain.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color:  #4e4e4e;
    /* #32425ed4; */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-heading {
    margin: 2px;
    padding: 50vh;

}

.title,
.heading-2, {
    color: #f5f5f5;
}

#sub-title {
    font-size: 2.4em;
    padding: 0 30% 0 30%;
    text-align: center;
    margin: 0;
    padding: 0 auto;
    padding-top: 1%;

}

.title {
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 0.6em 0;
    padding-top: 1.6em;
    letter-spacing: 0.90rem;
    word-spacing: 0.50rem;
}

.heading-2 {
    padding: 0;
    font-size: 2.6em;
    margin: 0 0 0.3em 0;
}

#sub-descrip-txt {
    box-sizing: border-box;

    padding-top: 3.6em;
    margin-bottom: 1; 
    box-lines: 1.6em;
    transition: 0.4s;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

/*****************************  NAV BAR    *****************/
#navbar {
    height: 4.6em;
    overflow: hidden;
    position: sticky;
    top: 0;
    transition: 0.4s;

    background-repeat: no-repeat;
    /* background-image: url(../images/header-bg.svg); */
    background-size: 100%;
    background-blend-mode: lighten;
    background-color: #f5f5f5;
    /* #57647bd9;  */
    /* #32425ed4; */
    /* background-color: rgb(109, 109, 109);  */
}

.back {
    height: 3.5em;
  }
  

nav ul {
    display: contents ;
    margin: 0;
    /* overflow: hidden; */
    font-size: 0.8em;
    width: 90%;
    margin: 10px auto;
    height: 10%;
}

#navbar ul li {
    /* padding-top: 1.9em 0 6em 0; */
    margin-top: 2.15em;
    text-decoration: none;
    margin-left: 375px;
    list-style-type: none;
}


li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.875em 1em;
    
    display: inline;
    color: #000;
    border: 1px;
    border-radius: 1em;
}

li a:hover {
    background-color: #E4572E;
    color: #f5f5f5;
    transition: 0.6s;
}

li a:active {
    background-color: #000000;
    color: #f5f5f5;
    transition: 0.6s
}

WHITE SMOKE

#F5F5F5
DARK SEA GREEN

#8ACB88
AUROMETALSAURUS

#648381
DAVY'S GREY

#575761
FLAME

#E4572E
All palettes 



/* CV CONTENT */

#custom-text {
    padding: 2em;
    color: #DECBB7;
    transition: 0.2s ease-out;
}

#custom-text:hover {
    padding: 4em;
    transition: 0.2s ease-in-out;
    font-size: 1.2em;
    line-height: 1.6em;
}

#skills-logo {
    padding: 2em;
    color: #DECBB7;
    transition: 0.2s ease-out;
}

#skills-logo:hover {

    transition: 0.2s ease-in-out;
}

.main {

}

.container-portfolio,
.container-about,
.container-skills,
.container-edu,
.container-work {
    background-color:  #f5f5f587;
    margin:50px 0 0 0 ;
    padding: 2em 6em;
    height: 0 auto;
}

.about-me,
.skills,
.work-xp {
    margin: 2em;
    background-color: #7DAAA2;
    text-align: center;
    border: 2px #7DAAA2;
    border-radius: 2em;
    transition: 0.2s ease-out;
}

.portfolio-content,
.education {
    margin: 2em;
    background-color: #57647B;
    text-align: center;
    border: 2px #7DAAA2;
    border-radius: 2em;
    transition: 0.2s ease-out;
}


.about-me:hover,
.skills:hover,
.education:hover,
.work-xp:hover {
    border-radius: 1em;
    transition: 0.4s ease-out;
}


div img {
    height: 8em;
    width: 8em;
    padding-right: 2em;
    margin: 1em;
    padding: 0.5em;
}


.logo-png {
    margin-top: 1.6em;
    height: 11em;
    width: 11em;
    display: inline-block;
    padding: 2%;
    border-radius: 0.4em;
    background: #9398a0cf;
    margin-bottom: 1em;
    transition: 0.3s ease-in;
}

.logo-png:hover {
    height: 12em;
    width: 12em;
    background-color: #f3f3f3;
    transition: 0.3s ease-out;
}

#go-to-top { 
    /* display: none ; */
    z-index: 99;
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 1px auto;
    background-color: #f5f5f5;
    border-radius: 3em;
    bottom: 40px;
    right: 50px;
    transition: ease-out 0.2s; 
}


#go-to-top:hover {
    background-color:#E4572E ;
    transition: ease-in 0.2s;
}

#go-to-top:active {
    background-color: #7DAAA2;
    transition: 1s;
}

/* EDUCATION HISTORY */
.work-xp ol {
    list-style-type: none;
    text-align: left;
}



/********************************************************************************************************************                                                       FOOTER  ******************************************************************************************************************/

.site-footer {
    background-color: #32425ed4;
    height: 60px;
    margin: 2em 0 0 0;
    overflow: hidden;
    padding: 60px 10px;
    background-image: url(../images/header-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

.footer-links {
    width: 90%;
    margin: 10px auto;
}

.footer-links li a:hover {
    background-color: #f3f3f3;

}



/* mediaaaaaa qqq */
@media (max-width: 1024px) {
    #navbar ul li {
        margin-left: 195px;
    }

    .title {
        font-size: 3em;
    }

    #sub-title {
        font-size: 1.6em;
    }

    #sub-descrip-txt {
    font-size: 1em;
    padding-top: 3em;
    }

}

@media (max-width: 640px) {
    #navbar ul li {
        margin-left: 30px;
    }

    #navbar {
        padding: 0 !important
    }

    #sub-title {
        font-size: 1.2em;
    }

    .container-portfolio,
    .container-about,
    .container-skills,
    .container-edu,
    .container-work {
    background-color:  #f5f5f587;
    margin:50px 0 0 0 ;
    padding: 1vh;
    height: 0 auto;
}

@media screen and (max-width: 580px) {
    #navbar a {
      float: none;
      text-align: left;
      font-size: 0.87em;
  }
}

@media screen and (max-width: 480px) {
    #navbar ul li {
        margin-left: 40px;
    }

    #navbar a {
      float: none;
      text-align: left;
      font-size: 0.70em;
    }

    title {
        font-size: 2em;
    }

    #sub-title {
        padding: 1em 0 0 0;
    }

    #sub-descrip-txt {
        font-size: 0.9em;
        padding-top: 1.6em;
    }

    .logo-png {
        height: 4.6em;
        width: 4.6em;
    }

    div img {
        height: 4em;
        width: 4em;
    }
}