html {
    scroll-behavior:  smooth;
    transition: 0.4s ease-in-out;
    color: #f5f5f5;
}

* {
    box-sizing: border-box;
}

body {

    line-height: 1.6em;
    margin: 0;
    background-color: #d6d6d6;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.2em;
    word-spacing: 0.2em;
}


.body-parallax {
    /* The image used */
    background-image: url(../images/grey-min.jpg);
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header {
    height: 100vh;
    margin: 0;
    background-repeat: cover;
    overflow: hidden;
    padding: 4em 0 0 0;
    /* background-attachment:  fixed url(../header-bg.mp4); */
    background-image: url(../images/rain.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color:  #4e4e4e;
    /* #32425ed4; */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-heading {
    margin: 2px;
    padding: 50vh;

}

.title,
.heading-2, {
    color: #f5f5f5;
}

#sub-title {
    font-size: 2.4em;
    text-align: center;
    margin: 0;
    padding: 0 auto;
    padding-top: 1%;

}

.title {
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 0.6em 0;
    padding-top: 1.6em;
    letter-spacing: 0.90rem;
    word-spacing: 0.50rem;
}

.heading-2 {
    padding: 0;
    text-align: center;
    font-size: 3.6em;
}

#sub-descrip-txt {
    box-sizing: border-box;

    padding-top: 3.6em;
    margin-bottom: 1; 
    box-lines: 1.6em;
    transition: 0.4s;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

/*****************************  NAV BAR    *****************/
#navbar {
    padding: 2.4em 0 2.4em 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    transition: 0.4s;
    z-index: 1;

    background-repeat: no-repeat;
    /* background-image: url(../images/header-bg.svg); */
    background-size: 100%;
    background-blend-mode: lighten;
    background-color: #f5f5f5;
    /* #57647bd9;  */
    /* #32425ed4; */
    /* background-color: rgb(109, 109, 109);  */
} 

nav ul {
    
    display: contents ;
    margin: 0;
    /* overflow: hidden; */
    /* font-size: 0.8em; */
    width: 90%;
    margin: 10px auto;
    height: 10%;
}

#navbar ul li {
    font-size: 0.8em;
    /* padding-top: 1.9em 0 6em 0; */
    /* margin-top: 2.15em; */
    text-decoration: none;
    /* margin-left: 375px; */
    list-style-type: none;

    
    margin: 0 auto;
    text-align: center;
}


li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.875em 1em;
    
    display: inline;
    color: #000;
    border: 1px;
    border-radius: 1em;
}

li a:hover {
    background-color: #E4572E;
    color: #f5f5f5;
    transition: 0.6s;
}

li a:active {
    background-color: #000000;
    color: #f5f5f5;
    transition: 0.6s
}

/* WHITE SMOKE

#F5F5F5
DARK SEA GREEN

#8ACB88
AUROMETALSAURUS

#648381
DAVY'S GREY

#575761
FLAME

#E4572E
All palettes  */



/* CV CONTENT */
/************************************************************ NEW STUFF 14 01 2019  *************************************/

.container {
    background-color: #f5f5f587;
    padding: 2em 64px;
    height: 0vh auto;
    /* position: relative; */
}

.column {
    float: left;
    justify-self: center;
}

.column.col-text {
    width: 60%;
}


.column.col-img {
    width: 40%;
    height: auto;
    text-align: center;
}

.column.col-figures {
    text-align: center;
    width: 40%;
}

.gifs {
    margin: 0;
    height: 14em; 
    width:  14em;
}

.text {
    padding-top: 2em; 
}

.bubble {
    margin: 2em 0;
    padding: 2em;
    padding: 2em 2em 4em 2em;
    border: 2px;;
    border-radius: 2em;
    transition: 0.2s ease-out;
    height: 60vh;
    background-color: #7DAAA2;
}

.bubble.item-4-edu,
.bubble.item-5-work {
    background-color: #57647B;
    height: 80vh;
}



.bubble.about,
.bubble.item-3-skills,
.bubble.item-5-work {
    background-color: #7DAAA2 !important;
}


.bubble.item-2-portfolio,
.bubble.item-3-skills {
    background-color: #57647B;
    height: auto !important;
}

.portfolio-grid,
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.portfolio.grid-block-1,
.portfolio.grid-block-2,
.portfolio.grid-block-3,
.portfolio.grid-block-4 {
    margin: 1em;
}


.skills,
.porfolio {
    height: 0 auto;
    width: 0 auto;
}

.grid-figure {
    grid-area: 25px;
    height: 12em;
    width: 12em;
    padding: 2%;
    border-radius: 0.4em;
    background: #f5f5f5;
    margin-bottom: 1em;
    transition: 0.3s ease-in;
}

.fa-html5:before,
.fa-css3-alt:before,
.fa-js:before,
.fa-sass:before {
    font-size: 10em;
}

.logo-png {
    height: 12em;
    width: 12em;
}

i {
    color: #f5f5ff;
}

i:hover {
    color: #E4572E;
    transition: 0.2s ;
}

.text li {
    list-style-type: none;
}

h3 {
    font-size: 1.6em;
}

h4 {
    font-size: 1.4em;
}

.empty {
    display: inline-block;
    padding: 2%;
    border-radius: 0.4em;
    background: #9398a0cf;
    margin-bottom: 1em;
    transition: 0.3s ease-in;
    z-index: 1;
}


.footer {
    bottom: 0;
}


#go-to-top { 
    display: none ;
    z-index: 99;
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 1px auto;
    background-color: #f5f5f5;
    border-radius: 3em;
    bottom: 40px;
    right: 50px;
    transition: ease-out 0.2s; 
}


#go-to-top:hover {
    background-color:#E4572E ;
    transition: ease-in 0.2s;
}

#go-to-top:active {
    background-color: #7DAAA2;
    transition: 1s;
}




/********************************************************************************************************************                                                       FOOTER  ******************************************************************************************************************/

.site-footer {
    text-align: center;


    height: 10em;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #000;
    background-color: #32425ed4;
    /* height: 60px; */
    margin: 0;
    overflow: hidden;
    /* padding: 60px 10px; */
    background-repeat: no-repeat;
    /* background-image: url(../images/header-bg.svg); */
    background-size: 100%;
    background-blend-mode: lighten;
    background-color: #f5f5f5 ;

}

.footer-icons {
    height: 2em;
    width: 2em;
    color: #57647B;

}

.list-of-links {
    padding: 0;
    list-style-type: none;
}

.footer-a-tags-linkedin,
.footer-a-tags-github {
    padding: 4px;
}

.footer-links {
    margin: 0 auto;
    list-style: none;
    padding: 0;
}

.footer-links li a:hover {
}

.footer-a-tags {

}


input {
    height: 3em;
    border-radius: 0.6em;
    border: none;
    outline: none;
    background-color: #57647B;
    width: 8em;
    text-align: center;
    margin-top: 2em;
    font-family: inherit;
}

input:hover {
    background-color:#E4572E ;
    transition: ease-in 0.2s;
    color: #f5f5f5;
}


/********************************************** MEDIA QUERIES ************************************************************/

@media only screen and (max-width: 480px) {
    .container {
        border: 2px;
        padding: 2em 0;
    }

    .bubble {
        border-radius: 0; 
    }

    .bubble.item-4-edu {
        height: 100vh;
    }



    .title {
        font-size: 4em;
        letter-spacing: 0;
    }

    #sub-title {
        font-size: 2.2em;
    }


    body {
        width: 100%;
    }

    p {
        font-size: 0.8em;
    }

    #navbar ul li {
        font-size: 0.64em;
    }

    .body-parallax {
        background: none;
    }

    ol {
        padding-left: 0 ;
    }


    .heading-2 {
        font-size: xx-large;
    }

    h3 {
        font-size: 1.2em;
    }

    h4 {
        font-size: 1em;
    }
    
    .grid-figure {
        height: 10em;
        width: 10em;

    }

    .gifs {
        height: 12em;
        width: 12em;
    }

    .gifs.d {
        margin-top: 100px; 
    }

    input {
        margin: 0;

    }

}

@media only screen and (max-width: 320px) {
    #navbar ul li {
        font-size: 0.427em;
    }

    .bubble {
        padding-left: 2%;
        padding-right: 2%;
        height: -webkit-fill-available;
    }

    .title {
        font-size: 2.6em;
    }

    #sub-title {
        font-size: 1.4em;
    }

    #sub-descrip-txt {
        font-size: 0.8em;
    }

    h3 {
        font-size: 1em;
    }

    h4 {
        font-size: 0.8em;
    }

    .column.col-text {
        width: 70% ;
    }

    .column.col-img {
        width: 30%;
    }

    .column.col-img.bulb,
    .column.col-img.pencil {
        padding-top: 4em;
    }

    .gifs {
        height: 6em;
        width: 6em;
    }
    
    .gifs.d {
        margin-top: 100px;
    }
}