html {
    scroll-behavior: smooth;
    transition: 0.1s;
    color: #DECBB7;
}

body {

    line-height: 1.6em;
    margin: 0;
    background-color: #8D99AE;
    font-family: 'Poppins', sans-serif;

}

.site-header {
    height: 200px;
    margin: 0;
    background-color: #32425ed4;
    overflow: hidden;
    padding: 60px 10px;
    background-image: url(../images/header-bg.svg);
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
}

.body-parallax {

  /* The image used */
    background-image: url(../images/bg.jpg);

    /* Full height */
    height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.title {
    color: #DECBB7;
    font-size: 46px;
    text-align: left;
    margin: 0;
    padding: 1.5em 0;
    letter-spacing: 1.35rem;
}

nav {
    display: contents;
    margin: 0;
    overflow: hidden;
}

ul li {
    text-decoration: none;
    margin-left: 38%;
    list-style-type: none;
}


li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 14px 16px;
    float: left;
    display: inline;
    color: #f3f3f3;
    border: 1px;
    border-radius: 1em;
}

li a:hover {
    background-color: #FE5F55;
    color: #B0B5B3;
    transition: 1s;
}

li a:active {
    background-color: #32425E;
    transition: 0.8s
}

/* CV CONTENT */
/* ABOUT ME SECTION */
.container-about {
    background-color: #61988E;
    margin:50px 30px 0 30px ;
    /* 50px 1px 0 1px */
    padding: 2em 6em;
    height: 0 auto;
}

.about-me {
    margin: 2em;
    background-color: #7DAAA2;
    text-align: center;
    border: 2px #7DAAA2;
    border-radius: 2em;
    transition: 0.2s ease-out;
}

.about-me:hover {
    margin: 4em 2em ;
    text-align: center;
    border: 2px #77ddaa;
    border-radius: 1em;
    box-shadow: #3b6e55;
}

#custom-text {
    padding: 2em;
}

#custom-text:hover {
    padding: 4em;
    transition: 0.2s ease-in-out;
    font-size: 2em;
    line-height: 1.6em;
}

/* PERSONAL DETAILS SECTION */


.container-personal {
    background-color: #32425E;
    color: #DECBB7;
    margin:50px 30px 0 30px ;
    /* 50px 1px 0 1px */
    padding: 2em 6em;
    height: 0 auto;
}

.personal-details {
    margin: 2em;
    background-color: #57647B;
    text-align: center;
    border: 2px #7DAAA2;
    border-radius: 2em;
    transition: 0.2s ease-out;


/* FOOTER  */

.site-footer {
    background-color: #32425ed4;
    height: 60px;
}

#instagram:hover {
    background-image: url(../images/gram-color.png);
}
