.grid {
    display: grid;
    /* grid-template-columns: 500px; */
    grid-template-rows: 100px; 
    /* grid-gap: 1em; */
    width: 100%;
  }
  
  header, footer, article {
    grid-column: 1
  }

  
  /* Demo Specific Styles */
  body {
    margin: 0 auto;
    max-width: 56em;
    padding: 1em 0;
  }
  
  header,
  article,
  footer {
    background: #eaeaea;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 70vh; */
  }