html {
    scroll-behavior:  smooth;
    transition: 0.4s ease-in-out;
    color: #f5f5f5;
}

* {
    box-sizing: border-box;
}

body {

    line-height: 1.6em;
    margin: 0;
    background-color: #d6d6d6;
    font-family: 'Poppins', sans-serif;
}

p {
    font-size: 1.2em;
    word-spacing: 0.2em;
}


.body-parallax {
    /* The image used */
    background-image: url(../images/grey-min.jpg);
    /* Full height */
    height: 100%;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.site-header {
    height: 100vh;
    margin: 0;
    background-repeat: cover;
    overflow: hidden;
    padding: 4em 0 0 0;
    /* background-attachment:  fixed url(../header-bg.mp4); */
    background-image: url(../images/rain.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-blend-mode: lighten;
    background-color:  #4e4e4e;
    /* #32425ed4; */

    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#main-heading {
    margin: 2px;
    padding: 50vh;

}

.title,
.heading-2, {
    color: #f5f5f5;
}

#sub-title {
    font-size: 2.4em;
    text-align: center;
    margin: 0;
    padding: 0 auto;
    padding-top: 1%;

}

.title {
    font-size: 4em;
    text-align: center;
    margin: 0;
    padding: 0.6em 0;
    padding-top: 1.6em;
    letter-spacing: 0.90rem;
    word-spacing: 0.50rem;
}

.heading-2 {
    padding: 0;
    text-align: center;
    font-size: 3.6em;
}

#sub-descrip-txt {
    box-sizing: border-box;

    padding-top: 3.6em;
    margin-bottom: 1; 
    box-lines: 1.6em;
    transition: 0.4s;
    font-size: 1.2em;
    text-align: center;
    font-weight: bold;
}

/*****************************  NAV BAR    *****************/
#navbar {
    padding: 2.4em 0 2.4em 0;
    overflow: hidden;
    position: sticky;
    top: 0;
    transition: 0.4s;
    z-index: 1;

    background-repeat: no-repeat;
    /* background-image: url(../images/header-bg.svg); */
    background-size: 100%;
    background-blend-mode: lighten;
    background-color: #f5f5f5;
    /* #57647bd9;  */
    /* #32425ed4; */
    /* background-color: rgb(109, 109, 109);  */
} 

nav ul {
    
    display: contents ;
    margin: 0;
    /* overflow: hidden; */
    /* font-size: 0.8em; */
    width: 90%;
    margin: 10px auto;
    height: 10%;
}

#navbar ul li {
    font-size: 0.8em;
    /* padding-top: 1.9em 0 6em 0; */
    /* margin-top: 2.15em; */
    text-decoration: none;
    /* margin-left: 375px; */
    list-style-type: none;

    
    margin: 0 auto;
    text-align: center;
}


li a {
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.875em 1em;
    
    display: inline;
    color: #000;
    border: 1px;
    border-radius: 1em;
}

li a:hover {
    background-color: #E4572E;
    color: #f5f5f5;
    transition: 0.6s;
}

li a:active {
    background-color: #000000;
    color: #f5f5f5;
    transition: 0.6s
}

WHITE SMOKE

#F5F5F5
DARK SEA GREEN

#8ACB88
AUROMETALSAURUS

#648381
DAVY'S GREY

#575761
FLAME

#E4572E
All palettes 



/* CV CONTENT */

.custom-text {
    padding: 2em;
    color: #DECBB7;
    transition: 0.2s ease-out;
}


.education-text {
    /* margin-left: 580px; */
    /* margin-right: 2.8em !important; */
    /* text-align: right; */
}

.work-text {
    margin-right: 560px;
}
 
.about-me-text,
.skills-text,
.work-text {
    margin-left: 2.8em !important;
}
.custom-text:hover {
    /* padding: 4em; */
    transition: 0.2s ease-in-out;
    /* font-size: 1.2em; */
    /* line-height: 1.6em; */
}

#skills-logo {
    /* padding: 2em; */
    /* color: #DECBB7; */
    transition: 0.2s ease-out;
}

#skills-logo:hover {

    transition: 0.2s ease-in-out;
}

.main {

}
/************************************************************ NEW STUFF 14 01 2019  *************************************/
.container {
    background-color: #f5f5f587;
    padding: 2em 64px;
    height: 0vh auto;
    /* position: relative; */
}

.column {
    float: left;
    justify-self: center;
}

.column.col-text {
    width: 60%;
}


.column.col-img {
    width: 40%;
    height: auto;
    text-align: center;
}

.column.col-figures {
    text-align: center;
    width: 40%;
}

.gifs {
    margin: 0 !important;
    height: 14em !important; 
    width:  14em !important;
}

.text {
    padding-top: 2em; 
}

.bubble {
    margin: 2em 0;
    padding: 2em;
    padding: 2em 2em 4em 2em;
    border: 2px;;
    border-radius: 2em;
    transition: 0.2s ease-out;
    height: 60vh;
    background-color: #7DAAA2;
}

.bubble.item-4-edu {
    background-color: #57647B;
    height: 70vh;
}
.bubble.item-5-work {
    height: auto;
}

.bubble.about,
.bubble.item-3-skills,
.bubble.item-5-work {
    background-color: #7DAAA2 !important;
}


.bubble.item-2-portfolio,
.bubble.item-3-skills,
.bubble.item-4-edu {
    background-color: #57647B;
    height: auto !important;
}

.portfolio-grid,
.skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}


.portfolio.grid-block-1,
.portfolio.grid-block-2,
.portfolio.grid-block-3,
.portfolio.grid-block-4 {
    margin: 1em;
}


/* .skills-grid {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-areas: 50vh 50vh 50vh 50vh;
    grid-template-rows: auto auto;
} */


/* .skills-grid { */
    /* grid-template-areas: ; */
    /* grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%; */


.skills,
.porfolio {
    height: 0 auto;
    width: 0 auto;
    color: #000;
}


.grid-skill-figure,
.grid-figure {
    grid-area: 25px;
    height: 12em;
    width: 12em;
    padding: 2%;
    border-radius: 0.4em;
    background: #f5f5f5;
    margin-bottom: 1em;
    transition: 0.3s ease-in;
}

/* .skills {
    margin: 1.2em 0.6em 1.6em 2.4em;
*/
    /* margin-top: 1.6em; */
/*    height: 11em;
    width: 11em;
    display: inline-block;
    padding: 2%;
    border-radius: 0.4em;
    background: #9398a0cf;
    margin-bottom: 1em;
    transition: 0.3s ease-in;
    z-index: 1;
} */

/* end day 14 07 2018 */


/* .about-me, */
/* .portfolio-content, */
/* .skills, */
/* .education, */
/* .work-xp {
    margin: 2em 0 2em 0;
    padding: 1em;
    text-align: left;
} */


/* .about-me, */
/* .skills, */
.work-xp {
    background-color: #7DAAA2;
    border: 2px #7DAAA2;
}

.portfolio-content,
 {
    background-color: #57647B;
    border: 2px #57647B;
}

/* HEIGHT OF THE AIR BUBBLES */
/* .about-me, */
/* .education,  */
.portfolio-content,
.work-xp, 
/* .skills */
{
    height: 60vh;
    border-radius: 2em;
    transition: 0.2s ease-out;
}


.portfolio-content {
    height: auto;
    /* margin: 0 auto; */
}

.work-xp,
/* .skills { */
    height: auto !important;
}


/* .about-me:hover, */
/* .skills:hover, */
/* .education:hover, */
.work-xp:hover {
    /* border-radius: 1em; */
    transition: 0.4s ease-out;
}


div img {
    height: 8em;
    width: 8em;
    padding-right: 2em;
    margin: 1em;
    padding: 0.5em;
}


.logo-png {
    margin: 1.2em 0.6em 1.6em 2.4em;
    /* margin-top: 1.6em; */
    height: 11em;
    width: 11em;
    display: inline-block;
    padding: 2%;
    border-radius: 0.4em;
    background: #9398a0cf;
    margin-bottom: 1em;
    transition: 0.3s ease-in;
    z-index: 1;
}

.logo-png:hover {
    height: 12em;
    width: 12em;
    background-color: #f3f3f3;
    transition: 0.3s ease-out;
}

/* .gifs.a{
    margin-right: 160px;
    float: right;
}

.gifs.b {
    float: left;
    margin-left: 160px;
    margin-top: 4em ;
}

.gifs.c {
    float: left;
    margin-top: 4em;
}

.gifs.d {
    float: right;
    margin-right: 160px;
    margin-top: 0 !important;
}



.gifs{
    margin-top: 5em;
    height: 12em ;
    width: 12em ;
} */

.portfolio-item {

}

#go-to-top { 
    display: none ;
    z-index: 99;
    position: fixed;
    width: 40px;
    height: 40px;
    margin: 1px auto;
    background-color: #f5f5f5;
    border-radius: 3em;
    bottom: 40px;
    right: 50px;
    transition: ease-out 0.2s; 
}


#go-to-top:hover {
    background-color:#E4572E ;
    transition: ease-in 0.2s;
}

#go-to-top:active {
    background-color: #7DAAA2;
    transition: 1s;
}

/* #to-top {
    width: 40px;
    height: 40px;
} */

/* EDUCATION HISTORY */
.work-xp ol {
    list-style-type: none;
    text-align: left;
}




/********************************************************************************************************************                                                       FOOTER  ******************************************************************************************************************/

.site-footer {
    height: 10em;
    padding-top: 2em;
    padding-bottom: 1em;
    color: #000;
    background-color: #32425ed4;
    /* height: 60px; */
    margin: 0;
    overflow: hidden;
    /* padding: 60px 10px; */
    background-repeat: no-repeat;
    /* background-image: url(../images/header-bg.svg); */
    background-size: 100%;
    background-blend-mode: lighten;
    background-color: #f5f5f5 ;

}

.footer-links {
    width: 90%;
    margin: 10px auto;
    list-style: none;
    margin-left: 560px;
}

.footer-links li a:hover {
    background-color: #E4572E;
}

.footer-a-tags {
    padding-top: 30px;
    padding-right: 14px;
}

.footer-imgs {
    color: #E4572E;
}

input {
    height: 3em;
    border-radius: 0.6em;
    border: none;
    outline: none;
    background-color: #57647B;
    width: 8em;
    text-align: center;
    margin-top: 2em;
    font-family: inherit;
}

input:hover {
    background-color:#E4572E ;
    transition: ease-in 0.2s;
    color: #f5f5f5;
}

/* mobile devices */
/* 
@media only screen and (max-width: 420px) {
    .body-parallax {
        background-image: none;
    }
    
    #navbar ul li {
        margin: 0 auto;
        font-size: 0.46rem !important;
    }

    #navbar ul {
        text-align: center;
    }
    
    li a {
        padding: 0.6em;
    }

    .title {
        font-size: 2.6em;
        text-align: center;
        letter-spacing: 0;
    }

    #sub-title {
        font-size: 1.2em;
    }

    #sub-descrip-txt {
        font-size: 0.8em;
        padding-top: 2.6EM;
    }

    .heading-2 {
        padding-right: 0 !important;
    }

    .gifs.a {
        height: 6em;
        width: 6em;
    }

    .container-about,
    .container-edu,
    .container-portfolio,
    .container-skills,
    .container-work {
        padding: 2em 0;
    }

    .about-me,
    .education,
    .portfolio-content,
    .skills,
    .work-xp {
        border-radius: 0;
    }

    .about-me-text {
        margin-left: 0 !important;
        margin-right: 0 !important;
        word-spacing: 0.2em;
    }

    .about-me-text p {
        font-size: 1em;
    }

    .gifs.a {
        margin-right: 2em;
        margin-bottom: 4.6em;
        margin-top: 8em;
        margin-left: 0.4em;
    }

    .footer-links,
    .education-text {
        margin-left: 0 ;
    }

    .input {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 480px) {
    .body-parallax {
        background-image: none;
    }
    
    #navbar ul li {
        margin: 0 auto;
        font-size: 0.5em !important;
    }

    #navbar ul {
        text-align: center;
    }
    
    li a {
        padding: 0.6em;
    }

    .title {
        font-size: 2.6em;
        text-align: center;
        letter-spacing: 0;
    }

    #sub-title {
        font-size: 1.2em;
    }

    #sub-descrip-txt {
        font-size: 0.8em;
        padding-top: 2.6EM;
    }

    .heading-2 {
        padding-right: 4em;
    }

    .gifs.a {
        height: 6em;
        width: 6em;
    }

    .container-about,
    .container-edu,
    .container-portfolio,
    .container-skills,
    .container-work {
        padding: 2em 0;
    }

    .about-me,
    .education,
    .portfolio-content,
    .skills,
    .work-xp {
        border-radius: 0;
    }

    .about-me-text {
        margin-left: 0 !important;
        margin-right: 0 !important;
        word-spacing: 0.2em;
    }

    .about-me-text p {
        font-size: 1em;
    }

    .gifs.a {
        margin-right: 2em;
        margin-bottom: 4.6em;
        margin-top: 8em;
        margin-left: 0.4em;
    }

    .footer-links,
    .education-text {
        margin-left: 0 ;
    }

    .input {
        margin-left: 0px !important;
    }
}

@media only screen and (max-width: 380px) {
    .body-parallax {
        background-image: none;
    }
    
    #navbar ul li {
        margin: 0 auto;
        font-size: 0.5em !important;
    }

    #navbar ul {
        text-align: center;
    }
    
    li a {
        padding: 0.6em;
    }

    .title {
        font-size: 2.6em;
        text-align: center;
        letter-spacing: 0;
    }

    #sub-title {
        font-size: 1.2em;
    }

    #sub-descrip-txt {
        font-size: 0.8em;
        padding-top: 2.6EM;
    }

    .heading-2 {
        padding-right: 2.2em;
    }

    .gifs.a {
        height: 6em;
        width: 6em;
        margin-right: 0.6em;
        margin-left: 0px;
    }

    .container-about,
    .container-edu,
    .container-portfolio,
    .container-skills,
    .container-work {
        padding: 2em 0;
    }

    .about-me,
    .education,
    .portfolio-content,
    .skills,
    .work-xp {
        border-radius: 0;
    }

    .about-me-text {
        margin-left: 0 !important;
        margin-right: 0 !important;
        word-spacing: 0.2em;
    }

    .about-me-text p {
        font-size: 1em;
    }

    .gifs.a {
        margin-right: 2em;
        margin-bottom: 4.6em;
        margin-top: 8em;
        margin-left: 0.4em;
    }

    .footer-links,
    .education-text {
        margin-left: 0 ;
    }

    .input {
        margin-left: 0px !important;
    }
} */


@media only screen and (max-width: 320px) {
    .container {
        border: 2px;
}


    .container:nth-child(even) {
        background-color: #7DAAA2;
    }


    .container:nth-child(odd) { 
        background-color: #57647B;
    }

    body {
        width: 100%;
    }

    p {
        font-size: 0.8em;
    }
    #navbar ul li {
        font-size: 0.4em !important;
    }

    .body-parallax {
        background: none;
    }

    /* .about-me, */
    /* .education, */
    .portfolio-content,
    .skills,
    .work-xp {
        padding: 0.6em;
        height: auto;
    }

    .work-text {
        margin-right: 0 !important; 
    }

    ol {
        padding-left: 0 ;
    }
    .heading-2 {
        font-size: xx-large;
    }
    
    .about-me p {
        font-size: 0.8em;
    }

    .gifs {
        margin: 0 ;
    }

    .gifs.d {
        margin: 0 !important;
    }

    .gifs.a {
        margin-right: 0;
        margin-bottom: 4.6em;
        margin-top: 8em;
        margin-left: 0;
    }

    .gifs.b {
        margin-left: 0;
    }

}